@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}
  
@keyframes bounce{
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-5px);
    }
    20%{
        transform: translateY(0);
    }
    30% {
        transform: translateY(-5px);
    }
    40% {
        transform: translateY(0);
    }
}

@keyframes forbidden{
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(-5px);
    }
    20%{
        transform: translateX(0);
    }
    30% {
        transform: translateX(-5px);
    }
    40% {
        transform: translateX(0);
    }
}
