button{
    width: auto;
    height: 50px;
    border-radius: 5px;
    margin: 15px;
    font-size: 20px;
    color: rgb(16, 139, 183);
    border-color: rgb(16, 139, 183);
    padding-left: 10px;
    padding-right: 10px;
}
button:hover{
    background-color: rgb(16, 139, 183);
    color: white;
    cursor: pointer;
}