html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    scroll-behavior: smooth;
}
body{
    background: url(../sources/background_main.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
h1,h2,h3{
    font-family: 'Bangers', cursive;
    text-transform: uppercase;
}
h1{
    margin: 0;
    padding: 4% 4% 4% 4%;
    font-size: 80px;
}
section{
    min-height: 100%;
    padding-bottom: 10px;
    width: 60%;
    margin: auto;
}
li{list-style-type: none;}
/* HEADER *********************/
header{
    width: 100%;
    height: 10%;
    padding-left: 20%;
    padding-right: 20%;
    top: 0;
    left: 0;
    background: url(../sources/background_header.jpg);
    background-size: 100% 100%;
    
    box-shadow: 0 1px 3px darkgray;
}
#logo{
    margin-top: 15px;
    width: 200px;
    float: left;
}
/* HOME *********************/
#home{
    background-color: white;
    text-align: center;
}
#home img{
    height: 300px;
    width: 233px;
    border-radius: 5px;
}
.static {
position:absolute;
background: white;
}
.static:hover {
opacity:0;
}
/* Pong *********************/
#home_Pong{
    background-color: #cccccc;
}
/* SV *********************/
#home_Schiffeversenken{
    background-color: white;
}
/* TTT *********************/
#home_TicTacToe{
    background-color: #cccccc;
}
/* MS *********************/
#home_Minesweeper{
    background-color: white;
}
/* Snake *********************/
#home_Snake{
    background-color: #cccccc;
}
/* Dame *********************/
#home_Dame{
    background-color: white;
}
