
button {
    width: 100px;
    height: 30px;
    align-content: center;
    margin-top: 10px;
}


.grid {
    height: 520px;
    width: 520px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
    border: black solid;

}

.checked {
    background-color: orange;
}

.grid div {
    height: 50px;
    width: 50px;
    border: solid black 1px;
}

/* .mine {
    background-color: red;
} */