#content_container{
    padding-top: 10%;
text-align: center; 
box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
iframe{
    overflow: hidden;
    height: 485px;
    width: 640px;
    border: 0cm;
}
section{
    min-height: 70%;
    background-color: white;
    
}