body{
    overflow: hidden;
    align-items: center;
}
#content_container{
    text-align: center; 
}
section{
    min-height: 100%;
    background-color: white;
}
h1{
    text-align: center;
    color: rgb(16, 139, 183);
    -webkit-text-stroke: 0.5px black;
}
.option-div{
    padding-left: 2%;
    text-align: center;
    align-items: center;
}
.game_button{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}