root{
    --white: rgb(255,255,255);
    --black: rgb(0,0,0);
    --greay: rgb(204,204,204);
    --blue: rgb(41,60,127);
    --red: rgb(158,6,36);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    scroll-behavior: smooth;
}

body {
    background: url(../sources/background.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

section {
    height: calc(100% - 90px);
    padding-bottom: 10px;
    background-color: white;
    margin: auto;
    padding-top: 80px;
    margin-bottom: 40px;
    width: 60%;
}

header {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    background: var(--greay);
    box-shadow: 0 1px 3px darkgray;
}

li {
    list-style-type: none;
}

.content {
    margin: auto;
    width: 60%;
}

#logo {
    margin-top: 15px;
    width: 200px;
    float: left;
}

#main_section {
    background-color: white;
    margin: auto;
    margin-bottom: 40px;
    text-align: center;
}

#main_section ul {
    width: 100%;
    padding: 0;
}

#main_section ul li {
    width: 100%;
    float: left;
    margin: auto;
}

.vorschau_bild {
    height: 200px;
}

.game_button {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    margin: 15px;
    font-size: 20px;
    color: var(--blue);
    border-color: var(--blue);
}

.game_button:hover {
    background-color: var(--blue);
    color: var(--white);
}

@media screen and (max-width: 1024px) {
    .vorschau_bild {
        height: 150px;
    }
}