body{
    overflow: hidden;
}
h2{
    text-align: left;
}
#main_section{
    background-color: white;
    margin: auto;
    margin-bottom: 40px;
    text-align: center;
}
#game{
    width: auto;
    background-color: lightgray;
    margin-top: 100px;
    padding: 20px;
}
#tictactoe_table{
    width: 360px;
    height: 360px;
    border-collapse: collapse;
    margin:auto;
}
#row_1,#row_2{
    border-top: 4px solid black;
}
.col_1,.col_2{
    border-left: 4px solid black;
}
td{
    width: 33%;
    height: 33%;
}
#tictactoe_table tr td{
    font-size: 85px;
    font-family: 'Noto Sans';
}
#settings div{
    float: left;
    align-items: center;
}
#txt_spielmodus{
    width: 600px;
    text-align: left;
}
#div_switch{
    width: 70px;
    margin-top: 3px;
    margin-left: 15px;
}